.Cell {
  width: 3rem;
  height: 3rem;
  background-color: pink;
}

.Cell[data-hit="true"] {
  background-color: blanchedalmond;
}

.Cell[data-player-id="0"] {
  background-color: lightblue;
}

.Cell[data-player-id="1"] {
  background-color: lightgray;
}

.Cell-error-left {
  animation: error-left 1s ease-in-out infinite;
}

@keyframes error-left {
  0% {
    transform: translateX(0em);
  }

  50% {
    transform: translateX(-2rem);
  }

  100% {
    transform: translateX(0em);
  }
}