@keyframes spin {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Timer {
  animation: spin 2s linear infinite;
  display: block;
  font-size: 2em;
}
